<head>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <style>

        .node circle {
            cursor: pointer;
            stroke: #3182bd;
            stroke-width: 1.5px;
        }

        .node text {
            font: 10px sans-serif;
            pointer-events: none;
            text-anchor: middle;
        }

        line.link {
            fill: none;
            stroke: #9ecae1;
            stroke-width: 1.5px;
        }

    </style>
</head>
<body>
<script src="CollapsableForceDirected.js"></script>
</body>
